@model List<ModelNo> 
@{
    ViewData["Title"] = "Index";
}
<div class="page-content">
    <!--breadcrumb-->
    <div class="page-breadcrumb d-none d-sm-flex align-items-center mb-3">
        <div class="breadcrumb-title pe-3">Model No</div>
        <div class="ps-3">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb mb-0 p-0">
                    <li class="breadcrumb-item">
                        <a href="javascript:;"><i class="bx bx-home-alt"></i></a>
                    </li>
                    <li class="breadcrumb-item active" aria-current="page">Lists</li>
                </ol>
            </nav>
        </div>
        <div class="ms-auto">
            <a asp-action="Create" class="btn btn-outline-primary px-5">Add New Model No</a>
        </div>
    </div>
    <!--end breadcrumb-->
    <hr />
    <div class="card">
        <div class="card-body">
            <div class="table-responsive">
                <table id="example" class="table table-striped table-bordered" style="width:100%">
                    <thead>
                        <tr>
                            <th>Action</th>
                            <th>Model No</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var Li in Model)
                        {
                            <tr>
                                <td>
                                    <a asp-action="Edit" asp-route-Id="@Li.Id" class="badge bg-primary" data-bs-toggle="tooltip" data-bs-placement="top" title="Click To Edit"><i class="bx bx-pencil"></i></a>
                                </td>
                                <td>@Li.Name</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>