<!--navigation-->
<ul class="metismenu" id="menu">
    @*<li class="menu-label">Line Divieder</li>*@
    <li>
        <a asp-action="Index" asp-controller="Home">
            <div class="parent-icon">
                <i class='fadeIn animated bx bx-home-smile'></i>
            </div>
            <div class="menu-title">Dashboard</div>
        </a>
    </li>
    <li>
        <a href="javascript:;" class="has-arrow">
            <div class="parent-icon">
                <i class='bx bx-message-square-edit'></i>
            </div>
            <div class="menu-title">Registration</div>
        </a>
        <ul>
            <li>
                <a asp-action="Index" asp-controller="Customer"><i class="bx bx-right-arrow-alt"></i>Customer List</a>
            </li>
            <li>
                <a asp-action="Create" asp-controller="Customer"><i class="bx bx-right-arrow-alt"></i>Add Customer</a>
            </li>
            <li>
                <a asp-action="Index" asp-controller="Gurantor"><i class="bx bx-right-arrow-alt"></i>Gurantor List</a>
            </li>
            <li>
                <a asp-action="Create" asp-controller="Gurantor"><i class="bx bx-right-arrow-alt"></i>Add Gurantor</a>
            </li>
            <li>
                <a asp-action="Index" asp-controller="Supplier"><i class="bx bx-right-arrow-alt"></i>Supplier List</a>
            </li>
            <li>
                <a asp-action="Create" asp-controller="Supplier"><i class="bx bx-right-arrow-alt"></i>Add Supplier</a>
            </li>
            <li>
                <a asp-area="Pos" asp-action="Index" asp-controller="Category" ><i class="bx bx-right-arrow-alt"></i>Category</a>
            </li>
            <li>
                <a asp-area="Pos" asp-action="Index" asp-controller="Product" ><i class="bx bx-right-arrow-alt"></i>Product List</a>
            </li>
            <li>
                <a asp-area="Pos" asp-action="Create" asp-controller="Product" ><i class="bx bx-right-arrow-alt"></i>Add Product</a>
            </li>
            @*<li>
            <a asp-action="Index" asp-controller="Cargo"><i class="bx bx-right-arrow-alt"></i>Cargo</a>
        </li>
        <li>
            <a asp-action="Index" asp-controller="ModelNo"><i class="bx bx-right-arrow-alt"></i>Models</a>
        </li>*@
        </ul>
    </li>
    <li>
        <a href="javascript:;" class="has-arrow">
            <div class="parent-icon">
                <i class='bx bxs-file'></i>
            </div>
            <div class="menu-title">Purchase</div>
        </a>
        <ul>
            <li>
                <a asp-action="Index" asp-controller="Purchase"><i class="bx bx-right-arrow-alt"></i>Purchase List</a>
            </li>
            <li>
                <a asp-action="Create" asp-controller="Purchase"><i class="bx bx-right-arrow-alt"></i>Add Purchase</a>
            </li>
        </ul>
    </li>
    <li>
        <a href="javascript:;" class="has-arrow">
            <div class="parent-icon">
                <i class='bx bx-money'></i>
            </div>
            <div class="menu-title">Ledger</div>
        </a>
        <ul>
            <li>
                <a asp-action="Index" asp-controller="Ledger"><i class="bx bx-right-arrow-alt"></i>Simple Ledger</a>
            </li>
        </ul>
    </li>
    <li>
        <a asp-action="Index" asp-controller="TrailBalance">
            <div class="parent-icon">
                <i class='fadeIn animated bx bx-bar-chart-alt-2'></i>
            </div>
            <div class="menu-title">Trail Balance</div>
        </a>
    </li>
    <li>
        <a asp-action="Index" asp-controller="BalanceSheet">
            <div class="parent-icon">
                <i class='fadeIn animated bx bx-wallet-alt'></i>
            </div>
            <div class="menu-title">Balance Sheet</div>
        </a>
    </li>
    <li>
        <a href="javascript:;" class="has-arrow">
            <div class="parent-icon">
                <i class='bx bxs-dollar-circle'></i>
            </div>
            <div class="menu-title">Vouchers</div>
        </a>
        <ul>
            <li class="menu-label">Cash Payments</li>
            <li>
                <a asp-action="Index" asp-controller="CashPayment"><i class="bx bx-right-arrow-alt"></i>Cash Paid Detail</a>
            </li>
            <li>
                <a asp-action="Create" asp-controller="CashPayment"><i class="bx bx-right-arrow-alt"></i>Pay Using Cash</a>
            </li>
            <li class="menu-label">Cash Receivings</li>
            <li>
                <a asp-action="Index" asp-controller="CashReceipt"><i class="bx bx-right-arrow-alt"></i>Cash Received Detail</a>
            </li>
            <li>
                <a asp-action="Create" asp-controller="CashReceipt"><i class="bx bx-right-arrow-alt"></i>Receive In Cash</a>
            </li>
            <li class="menu-label">Bank Payments</li>
            <li>
                <a asp-action="Index" asp-controller="BankPayment"><i class="bx bx-right-arrow-alt"></i>Bank Paid Detail</a>
            </li>
            <li>
                <a asp-action="Create" asp-controller="BankPayment"><i class="bx bx-right-arrow-alt"></i>Pay Using Bank</a>
            </li>
            <li class="menu-label">Bank Receving</li>
            <li>
                <a asp-action="Index" asp-controller="BankReceipt"><i class="bx bx-right-arrow-alt"></i>Bank Receive Detail</a>
            </li>
            <li>
                <a asp-action="Create" asp-controller="BankReceipt"><i class="bx bx-right-arrow-alt"></i>Receive Using Bank</a>
            </li>
        </ul>
    </li>
</ul>
<!--end navigation-->